{% extends "secondBase.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block menu %}
    {% include 'passenger/menu.html' with active='profile'%}
{% endblock %}

{% block content %}
        <div class="col-md-7">
            <div class="panel  panel-default">
                <div class="panel-heading">
                    My profile
                </div>
                <div class="panel-body">
                    {{ passenger.description }}

                    <strong>name:</strong> {{ passenger.first_name }}
                    <hr/>
                    <strong>last name:</strong> {{ passenger.last_name }}
                    <hr/>
                    <strong>Sex:</strong>
                    {% if passenger.gender == "man" %}
                        Male
                    {% else %}
                        Female
                    {% endif %}
                    <hr/>
                    <strong>Contact Number :</strong> {{ passenger.first_phone }}
                    <hr/>
                    <strong>Another Contact Number:</strong> {{ passenger.second_phone }}
                    <hr/>
                    <strong> Land number :</strong> {{ passenger.cell_phone }}
                    <hr/>
                    <a href="/hotelcom/profile/edit/" class="btn btn-primary">Change View</a>
                    <a href="/hotelcom/changepassword/" class="btn btn-primary">Change Password</a>
                </div>
            </div>
        </div>
{% endblock %}