{% extends "base.html" %}

{% block body %}
    <html>
         <head>
             <meta charset="UTF-8">
             <title>contact us</title>
         </head>
         <body>
         <div class="panel panel-default ">
             <div class="panel-heading" >
                 about us
             </div>
             <div class="panel-body">
                 <div class="row">
                     <div class="col-md-1"></div>
                     <div class="col-md-10">
We try to make ur life easier,comfortable to save your time.

                     </div>
                     <div class="col-md-1">
                     </div>
                 </div>
                <br/>
                 <div class="row">
                     <div class="col-md-1"></div>
                     <div class="col-md-10">
                         To know the process try the below links.
                         <br/>
                         <div class="row">
                             <div class="col-md-8"></div>
                             <div class="col-md-2">
                                 <a href="#">Hoteliers Guide </a>
                             </div>

                             <div class="col-md-2">
                                 <a href="#">Travelers Guide</a>
                             </div>
                         </div>
                     </div>
                     <div class="col-md-1">
                     </div>
                 </div>
                 <hr/>
             </div>
         </div>
         </body>
    </html>
{% endblock %}