{% extends "base.html" %}

{% block body %}
    <html>
         <head>
             <meta charset="UTF-8">
             <title>contact us</title>
         </head>
         <body>
         <div class="panel panel-default ">
             <div class="panel-heading" >
                contact us
             </div>
             <div class="panel-body">
                 <div class="row">
                     <div class="col-md-1"></div>
                     <div class="col-md-2">
                         <label>
       E-mail:
                         </label>
                     </div>
                     <div class="col-md-5">
                         <label type="email">
                             <a href="mailto:hotelcom@gmail.com">hasibsubaid@gmail.com</a>
                         </label>
                     </div>
                 </div>
                 <hr/>
                 <div class="row">
                     <div class="col-md-1"></div>
                     <div class="col-md-10">
                         <label >
                            Address: Azimpur, Dhaka
                         </label>
                     </div>
                 </div>
                 <hr/>

             </div>
         </div>
         </body>
    </html>
{% endblock %}